{% extends('base.html.twig.') %}


{% block body %}
    <h2>List All characters </h2>
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Level</td>
            <td>Class</td>
            <td>Weapon</td>
            <td>SubWeapon</td>
            <td>Helmet</td>
            <td>Armor</td>
            <td>Gloves</td>
            <td>Shoes</td>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.level }}</td>
                <td>{{ character.profession.name }}</td>
                <td>
                    {% if character.weapon is not null %}
                        {{ character.weapon.name }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>
                    {% if character.subWeapon is not null %}
                        {{ character.subWeapon.name }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>
                    {% if character.helmet is not null %}
                        {{ character.helmet.name }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>
                    {% if character.armor is not null %}
                        {{ character.armor.name }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>{% if character.gloves is not null %}
                        {{ character.gloves.name }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>
                    {% if character.shoes is not null %}
                        {{ character.shoes.name }}
                    {% else %}
                        none
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}